<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Account" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Account.mdf;Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
    <add name="Question" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Question.mdf;Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
    <add name="Homework" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Homework.mdf;Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
    <add name="Competition" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Competition.mdf;Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
    <sessionState mode="InProc" timeout="120" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>